.detail-container {
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #ffffff;
  max-height: 80vh; 
  min-height: 50vh;
  overflow: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 600px) {
  .detail-container {
    margin-left: 32px;
  }
}

.row {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 16px 0;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}

.expanded {
  white-space: normal;
}

.bold {
  font-weight: bold;
  cursor: default;
}

.product-image {
  display: flex;
  max-width: 40%;
  max-height: 30%;
  margin: auto;
}
