.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 70rem;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .App > * {
    order: 1;
    margin-top: 2rem;
  }

  .App > *:first-child {
    order: 2;
  }
}